*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    padding: 20px;
   height: 200px;
   width: 500px;
  align-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    
}
.pandbtn{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.download-link {
    color: #d61b5b;
    text-decoration: none;
    font-weight: bold;
}

.download-link:hover {
    text-decoration: underline;
}

.upload-btn {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #d61b5b;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.upload-btn:hover {
    background-color: #b3134a;
}

.upload-icon {
    width: 20px;
    height: 20px;
}
 .close{
    display: flex;
    justify-content: flex-end;
}
